* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --nav-bg-color: linear-gradient(0deg, #302add 0%, #00ff88 100%);
    --nav-hover-link: aliceblue;
    --text-color: #000000;
    --text-2: white;
    --shadow: 2px 4px 38px -2px #595959;
}

#nav {
    position: fixed;
    height: 100%;
    background: var(--nav-bg-color);
    letter-spacing: 1px;
    padding: 2em;
    font-size: 2em;
}

#submit {
    display: block;
    padding: 1em;
    border-radius: 1.4em;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: #3757e6;
    margin-top: 20px;
    margin-bottom: 15px;
}

#submit:hover {
    background-color: #b4eaf7;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 10px;
}

nav ul li:hover {
    transition: all 0.5s ease;
    transform: translate(30px, 0px);
    background-color: var(--nav-hover-link);
}

p {
    margin-top: 10px;
    margin-right: 20px;
    max-width: 800px;
}

p.intro::first-letter {
    color: rgb(252, 235, 0);
    font-size: 1.5em;
}

.about-section {
    margin-left: 20px;
}

.about-img {
    max-width: 700px;
    width: 70%;
    display:block;
    margin: auto;
}

.about-page {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color:#ffd414;
}

.form input, textarea {
    padding: 10px;
    border: 2px solid #e0d427;
    resize: none;
    background-color: #0fbe7b;
}

.h1-center {
    text-align: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo {
    max-width: 800px;
    width: 70%;
}

.main-img {
    max-width: 600px;
}

.about::before {
    content: "📸 ";
}

.contact::before {
    content: "✉️ ";
}

.gallery::before {
    content: "🎇 "
}

.home::before {
    content: "🏠 ";
}

.services::before {
    content: "👰‍♀️ ";
}

nav ul li a {
    text-decoration: none;
    color: rgb(10, 7, 211);
}

body {
    background-color: black;
}

main {
    color: var(--text-2);
    margin-left: 350px;
}

footer {
    margin-left: 400px;
    color: var(--text-2);
    position: fixed;
    bottom: 10px;
    background-color: rgb(31, 159, 245);
    padding: 30px;
    border-radius: 50px;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.gallery-end {
    margin-bottom: 180px;
}

@media only screen and (max-width:1000px) {
    .main-img, .photo {
        width: 70%;
    }

}

@media only screen and (max-width:650px) {

    #nav {
        width: 100%;
        height: auto;
        padding: 0;
        position: sticky;
    }

    li {
        display: inline-flex;
    }

    h1 {
        margin-top: 40px;
    }

    section, footer {
        margin-left: 20px;
    }

    main {
        margin: 0;
    }
    
}